# Eclipse
**/.classpath
**/.project
**/.settings

# Gradle
**/.gradle
**/build

# Maven
**/target

# maven-release-plugin
**/pom.xml.releaseBackup
**/release.properties

# Misc
*.gfs
*.iml
*.jar
*.pyc
npm-debug.log
.vagrant
log/
node_modules/
tmp/
